* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Palet Colours*/

:root {
  --turquoise: #25c4d8;
  --light-grey: #f2f2f2;
  --shadow: #d7d7d7;
  --white: #ffffff;
  --grey: #b9b9b9;
  --black: #000;
  --yellow: #ffc404;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: #96cc00;
}

.description {
  color: dimgrey;
  font-size: 14px;
}

.cardContainer {
  display: inline-block;
  margin: 10px;
  background-color: #f5f5f5;
  min-width: 300px;
  max-width: 400px;
}

.cardContainer img {
  width: 100%;
  background-color: #f5f5f5;
}

.categoria {
  margin-top: 1rem;
}

.titulo {
  margin: 1rem;
  font-weight: bold;
}

.categoria {
  margin: 1rem;
  font-weight: bold;
  color: #96cc00;
}

.footer-card {
  margin: 10px;
}

.date {
  display: flex;
  justify-content: right;
  color: var(--grey);
  margin: 1rem;
  font-size: 14px;
}

.by {
  margin: auto;
  font-size: 14px;
  color: #b9b9b9;
}
