/* Palet Colours*/

:root {
  --turquoise: #25c4d8;
  --light-grey: #f2f2f2;
  --shadow: #d7d7d7;
  --white: #ffffff;
  --grey: #b9b9b9;
  --black: #000;
  --yellow: #ffc404;
  --strong-grey: #808080;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f9f9f9;
}

hr {
  margin: 3px;
}

.txt-size {
  font-size: 13px;
}

.z-index {
  z-index: 50;
}

/* .mtS {
  margin-top: 150px;
} */

.mtS {
  margin-top: 50px;
}

.logo {
  font-size: 15px;
}

.input {
  border-radius: 20px;
  width: 500px;
}
.icono-placeholder::placeholder {
  font-family: "arial", sans-serif;
}

.mb-config {
  margin-bottom: 100px;
}

.bg-green-apple {
  background-color: #4357AD;
}

.text-green-apple {
  color: #4357AD;
}

.banner-big {
  width: 340px;
}

.container-banner-big {
  margin-top: 200px;
}

.w-banner {
  max-width: 400px;
  min-width: 310px;
}
